[submodule "client"]
	path = client
	url = git@gitlab.coml.lscp.ens.fr:ezhealth/seshat-lrec/seshat-angular-client.git
[submodule "server"]
	path = server
	url = git@gitlab.coml.lscp.ens.fr:ezhealth/seshat-lrec/seshat-restful-server.git
